* {
    margin: 0;
    box-sizing: border-box;
}
#mlak i {
    color: #71767B;
}
#jsjs i {
    color: #71767B;
}
#simdisports i {
    color: #71767B;
}
#hlour i {
    color: #71767B;
}
#options:hover {
    background-color: #16181C;
}
#klas i {

    color: #71767B;
}
a {
    text-decoration: none;
}
#yonlendirici #sa {
    transition: black 0.3s ease;
}
@font-face {
    font-family: 'ForX'; /* Buraya bir isim verin */
    src: url('../arial/ARIALBLACKITALIC.TTF'); /* .ttf dosyasının yolunu ekleyin */
    }
@font-face {
    font-family: 'beko'; /* Buraya bir isim verin */
    src: url('../arial/ARIALBD\ 1.TTF'); /* .ttf dosyasının yolunu ekleyin */
    }
.hop:hover {
    background-color: rgba(57, 55, 55, 0.4);
}
.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden; 
}
#ksss:hover {
    color: #1D9BF0;
    background-color: #0A171F;
}
.toned-image {
    display: block;
    width: 100%;
    height: auto;
}

.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%; 
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
    pointer-events: none;
    transition: height 0.3s ease; 
    height: 70%; 
}
#ghs:hover {
    background-color: rgb(37, 37, 37);
}
#omk:hover {
    background-color: rgb(37, 37, 37);
}
::-webkit-scrollbar {
    display: none;
}
.main {
    
    background-color: black;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: -1; 
    display: flex;
}
#yonlendirici #sa:hover {
    border-radius: 20px;
    /* color: black; */
    cursor: pointer;
    /* opacity: 0.6; */
    /* translate: ; */
    background-color: rgba(57, 55, 55, 0.4); 
}
#yonlendirici {
    /* align-items: center; */
    position: relative;
    display: flex;
    color: white;
    flex-direction: column;
    font-family: 'beko';
    margin-left: 150px;
    width: 250px;
    /* border: 2px solid white; */
}
#kisi:hover {
    background-color: rgb(43, 43, 44);
}